.container {
  max-width: 100%;
  display: flex;
  padding: 0px;
}

.main-bar {
  background: black;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  margin: 20px;
  margin-left: 10%;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 57%;
  justify-content: flex-end;
}
.search-bar input {
  background-color: black;
  border: 2px solid #f2c314;
  color: #f2c314;
  justify-content: flex-end;
  border-radius: 15px;
}

.search-bar i {
  font-size: 20px;
  color: #f2c314;
  display: flex;
  position: absolute;
  top: 8.3%;
  left: 62%;
}

input[type=text] {
  background-color: black;
  color:#f2c314;
  border: 2px solid #f2c314;
}

input[type=text]:focus {
  background-color: black;
  border: 2px solid #f2c314;
  color: #f2c314;
  text-align: center;
}

.social-bar {
  display: flex;
  margin: 30px;
}

.social-bar-item {
	width: 60px;
	height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-bar-item a {
  font-size: 35px;
  color: #f2c314;
}

a:hover, a:active {
  font-size: 280%;
  text-decoration: none;
  transition: font-size 0.3s;
}

input::-moz-placeholder {
  color: white;
}
